<div class="total">
    <app-menu></app-menu>
    <img class="slider" src="../../assets/img/Slider.png">
    <img class="ilustracion" src="../../assets/img/ilustracion.png">
    <h1>Mantente atento</h1>
    <p class="p">En Alquicicla además de poder reservar una cicla, podrás ver nuevos eventos, rutas y competencias las cuales pueden interesarte para que
        empiezes tu vida de ciclismo.
    </p>
    
    <div class="reservar">
        <i class="far fa-calendar-alt"></i>
        <div class="btn2"><p>!Reserve ahora¡</p></div>
    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <img class="footer" src="../../assets/img/footer.png">

</div>
