<div class="total">
    <app-menu></app-menu>
    <h1>Eventos</h1>
    <div class="totalEventos">
        <div class="evento">
            <div class="uno">
                <h2>UCI WorldTour </h2>
                <p>8 al 31 de mayo 2021</p>
            </div>
            <div class="dos">
                <p>Descripción: Este año, el UCI WorldTour tendrá 35 carreras en 12 países de cuatro continentes.</p>
            </div>
        </div>
        <div class="evento">
            <div class="uno">
                <h2>Mundial flandes </h2>
                <p>19 al 26 de septiembre 2021</p>
            </div>
            <div class="dos">
                <p>Descripción: llevamos a Flandes, la cuna del ciclismo, para vivir desde dentro una el ambiente del Mundial de Fondo en carretera.... y pedalear por los muros y los adoquines de Flandes.</p>
            </div>
        </div>
    </div>
</div>